pip install Flask
pip install itsdangerous
pip install Jinja2
pip install Keras-Preprocessing
pip install matplotlib
pip install matplotlib-inline
pip install MarkupSafe
pip install numpy
pip install scikit-learn
pip install scipy
pip install sklearn
pip install streamlit
pip install tensorboard
pip install tensorboard-plugin-wit
pip install tensorflow
pip install tensorflow-estimator
pip install Werkzeug
pip install numpy
pip install pandas